.post {
  border: 1px solid $primary-border;
  box-shadow: 0 0 4px 2px $primary-shadow;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
}

.post-link {
  text-decoration: none;
  color: $gray-700;
  transition: color 0.2s ease-in-out;

  &:hover, &:focus, &:active {
    color: $gray-900;
  }
}
