<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>YourFeed - by ferdyrurka</title>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="robots" content="noindex">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand mb-0 h1" href="/">{% trans %}YourFeed{% endtrans %}</a>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block bottom_javascripts %}{% endblock %}
</body>
</html>
